@model BigSchool.ViewModels.FollowingViewModel


@{
    ViewBag.Title = "FollowingMeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FollowingMeList</h2>

<div class="row">
    <ul class="course">
        @foreach (var follow in Model.Followings)
        {
            <li>
                
                    <span class="lecturer">
                        @follow.Name 
                        <br />
                    </span>
                
            </li>
        }
    </ul>
</div>